language: node_js

node_js:
  - "7.2.0"
  - "10"

install:
  - npm install

deploy:
  provider: npm
  skip_cleanup: true
  email: $NPM_EMAIL
  api_key: $NPM_AUTH_TOKEN
  on:
    branch: master
    tags: true
