language: node_js

node_js:
  - "lts/*"

before_install:
  - npm install -g codecov

after_script:
  - codecov

before_deploy:
  - "echo '//registry.npmjs.org/:_authToken=${NPM_AUTH_TOKEN}' > .npmrc"
  - "echo '//npm.pkg.github.com/:_authToken=${GITHUB_TOKEN}' > .npmrc"

deploy:
  # Publish to https://registry.npmjs.org/
  - provider: script
    script: "npx lerna publish from-package --yes --registry=https://registry.npmjs.org/"
    skip_cleanup: true
    on:
      branch: master

  # Publish to https://npm.pkg.github.com/"
  - provider: script
    script: "npx lerna publish from-package --yes --registry=https://npm.pkg.github.com/"
    skip_cleanup: true
    on:
      branch: master
